<h2>Edit Post</h2>

<%= simple_form_for @post, url: admin_post_path do |f| %>
  <% if @post.errors.any? %>
    <div id="error">
      <% @post.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :short_intro,  input_html: { cols: 5, rows: 10 }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :body,  input_html: { cols: 5, rows: 40 }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :all_tags, placeholder: "Tags separated with comma" %>
  </div>
  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
