<!-- <div class="container">
  <div class="col-sm-10 col-xs-12 admin-table">
    <table class="table table-bordered">
      <tr>
        <th>Title</th>
        <th>Intro</th>
        <th>Tags</th>
        <th>Updated</th>
        <th>Published</th>
        <th class="action-buttons">Actions</th>
      </tr>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= to_markdown(post.short_intro) %></td>
          <td><%= post.all_tags %></td>
          <td><%= post.updated_date %></td>
          <td><%= post.published ? post.published_date : '-' %></td>
          <td class="action-buttons">
            <%= link_to admin_post_path(post)  do %>
              <button type="button" class="btn admin-button btn-default">
                <span class="glyphicon glyphicon-eye-open"></span>
              </button>
            <% end %>
            <%= link_to edit_admin_post_path(post)  do %>
              <button type="button" class="btn admin-button btn-default">
                <span class="glyphicon glyphicon-edit"></span>
              </button>
            <% end %>
            <%= link_to admin_post_publish_path(post), method: :post  do %>
              <button type="button" class="btn admin-button btn-default">
                <span class="glyphicon glyphicon-check"></span>
              </button>
            <% end %>
            <%= link_to admin_post_path(post), method: :delete  do %>
              <button type="button" class="btn admin-button btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
 -->
