<article>
  <%= link_to edit_admin_post_path(@post)  do %>
    <button type="button" class="btn admin-button btn-default">
      <span>EDIT</span>
    </button>
  <% end %>
  <%= link_to admin_post_publish_path(@post), method: :post  do %>
    <button type="button" class="btn admin-button btn-default">
      <span>PUBLISH</span>
    </button>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2 class="text-center"><%= @post.title %></h2>
        <h5 class="text-center">Created: <%= @post.created_at.strftime('%b %d, %Y') %></h5>
        <div><%= to_markdown(@post.short_intro) %></div>
        <div><%= to_markdown(@post.body) %></div>
      </div>
    </div>
  </div>
</article>

