<div class="container content">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="animation-wrap">
      <% all_selected = params[:all] == 'true' %>
      <%= link_to 'Latest', posts_path(all: false), class: "animated-button #{'selected' unless all_selected}" %>
      <%= link_to 'All', posts_path(all: true), class: "animated-button #{'selected' if all_selected}" %>
    </div>
    <% @posts.each do |post| %>
      <div class="col-xs-12 post-preview">
        <div class="text-center">
          <h1><%= link_to post.title, post_path(post), class: "post-heading" %></h1>
          <h6><%= post.published_date %></h6>
        </div>
        <div><%= to_markdown(post.short_intro) %></div>
        <div class="tags">
          Tags:
          <% post.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag.name) %>
          <% end %>
        </div>
        <div class="text-center animation-wrap">
          <%= link_to 'Read more', post_path(post), class: "animated-button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
