<article>
  <div class="container content">
    <div class="row post-show">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h1 class="text-center"><%= @post.title %></h1>
        <h5 class="text-center"><%= @post.published_date %></h5>
        <div><%= to_markdown(@post.short_intro) %></div>
        <div><%= to_markdown(@post.body) %></div>
        <div class="tags">
          Tags:
          <% @post.tags.each do |tag| %>
            <%= link_to tag.name, tag_path(tag.name) %>
          <% end %>
        </div>
        <%= social_share_button_tag(@post.title) %>
        <div class="animation-wrap back-button">
          <%= link_to 'Back to posts', posts_path, class: "animated-button" %>
        </div>
        <div id ="disqus_thread">
          <%= raw disqus_thread %>
        </div>
      </div>
    </div>
  </div>
</article>
