<!DOCTYPE html>
<html>
<head>
  <title>Tommy Bernaciak Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <nav class="navbar navbar-default admin-navbar navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
      Admin Dashboard
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "All Posts", admin_posts_path %>
        </li>
        <li>
          <%= link_to "New Post", new_admin_post_path %>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container admin-container">
    <div class="row">
      <%= yield %>
    </div>
  </div>

</body>
</html>
