<!DOCTYPE html>
<html>
<head>
  <title>Tommy Bernaciak</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container header">
  <a href="/">Tommy Bernaciak</a>
</div>
<div class="container menu">
  <a href="/">About Me</a>
  /
  <a href="/blog">Blog</a>
  /
  <a href="/contact">Contact</a>
</div>

<div class="container wrapper">
  <div class="sidebar">
  <%= render 'layouts/sidebar.html.erb' %>
  </div>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>

